:root {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  --primary-color: white;
  --secondary-color: black;
  --tertiary-color: #606060;
  --quaternary-color: #333333;

  --title-text: 30px;
  --paragraph-text: 24px;
  --card-title: 30px;
}
body {
  margin: 0;
  padding-top: 120px;
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--tertiary-color);
}

.gridContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  min-height: 100vh;
  gap: 15px;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  background-color: rosybrown;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--primary-color);
  padding: 1rem;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
}

.login input {
  padding: 8px 50px;
  border: 1px solid var(--tertiary-color);
  font-size: 15px;
}

.login ul li img {
  width: 25px;
  height: 30px;
  color: var(--tertiary-color);
  filter: grayscale(100%);
  opacity: 0.6;
}

.header-warning {
  text-align: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  width: 100%;
}

.hero a img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  grid-area: main;
}

.subhero {
  display: grid;
  grid-template-areas: 'hero-news hero-recommender';
}

.subhero a img {
  height: 260px;
  width: 100%;
}

.hero-news {
  grid-area: hero-news;
}

.hero-recommender {
  grid-area: hero-recommender;
}

.coreContent {
  padding: 0px 10%;
}

.cardSection {
  border-radius: 20px;
  box-shadow: 3px 3px 10px var(--tertiary-color);
  padding: 20px;
}

.cardSectionHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
cardTitle {
  color: var(--quaternary-color);
  font-size: var(--card-title);
  font-weight: 100;
}
.cardSection ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cardSection ul li {
  text-align: center;
  flex: 1 1 calc(14%);
  max-width: 300px;
  max-height: 500px;
}

.cardSection img {
  width: 90%;
  height: 33%;
  object-fit: cover;
  padding-top: 8px;
}

.cardSection ul li:hover {
  border-radius: 20px;
  box-shadow: 3px 3px 10px var(--tertiary-color);
}
.cardSection ul li:hover .addCart {
  visibility: visible;
}

button {
  background-color: #4884ec;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 10px 20px;
  font-weight: bold;
}

.addCart {
  visibility: hidden;
}

.gamePrice {
  color: var(--quaternary-color);
  font-size: 28px;
}

.gamePrice span {
  color: var(--tertiary-color);
  font-size: 20px;
  text-decoration: line-through;
}

.globalSection {
  text-align: center;
  margin: 60px 0px;
}

.globalSection p {
  font-size: var(--paragraph-text);
}

.titleGlobalSections {
  font-size: var(--title-text);
}
.textGlobalSection {
  margin: 50px;
}
.globalSection ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.globalSection li {
  text-align: center;
  flex: 1 1 calc(24%);
}
.gameFilter li img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.purchaseInfo {
  margin: 60px 135px;
}
.purchaseInfo span {
  font-weight: bold;
}

.purchaseInfo ul li {
  text-align: center;
  flex: 1 1 calc(16%);
  max-width: 280px;
  max-height: 500px;
}
.purchaseInfo ul p {
  display: inline-block;
}
.purchaseInfo img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.usefulLinks li {
  margin: 0 10px;
}

.usefulLinks img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.accesories {
  margin: 0 135px;
}

.accesories h2 {
  margin-bottom: 60px;
}

.accesories ul li {
  text-align: center;
  flex: 1 1 calc(9%);
  max-width: 280px;
  max-height: 500px;
}
.accesories p {
  display: inline-block;
}
.accesories img {
  display: block;
  margin: 0;
  object-fit: cover;
}

/* .partner {
} */

.subscriptionForm {
  background-color: #f4f4f4;
  text-align: center;
  padding: 25px;
}

#email {
  padding: 9px 100px;
  border: 1px solid var(--tertiary-color);
  border-radius: 8px;
  font-size: 16px;
}

.suscription button:hover {
  color: black;
  background-color: #e1e1e1;
  cursor: pointer;
}

.checboxGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}
.checkboxGroup a {
  color: #4884ec;
}

.checkboxGroup a:hover {
  text-decoration: underline;
}
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a:hover {
  text-decoration: underline;
}
.footerGeneralInformation {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

.footer-card {
  border-right: 1px solid var(--tertiary-color);
  flex: 1 1 18%;
  max-width: 300px;
  max-height: 500px;
  padding-left: 30px;
}

.contactUs {
  border: none;
  list-style: none;
}

.rrss {
  padding-top: 10px;
}
.rrssLogo {
  width: 25px;
  color: var(--tertiary-color);
  filter: grayscale(100%);
  opacity: 0.6;
}

.footerLogo {
  text-align: center;
  margin-top: 50px;
  width: 100vw;
}

.legalInformation {
  width: 100vw;
}
.legalInformation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  border-top: 1px solid var(--tertiary-color);
}

/* ------ 375px y 768px tablet*/

@media (min-width: 375px) and (max-width: 768px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  .header-menu,
  nav input {
    display: none;
  }

  .coreContent {
    padding: 0px 50px;
  }

  .subhero {
    display: grid;
    grid-template-areas:
      'hero-news'
      'hero-recommender';
  }

  .subhero a img {
    height: 230px;
  }

  .cardSection ul li {
    flex: 1 1 calc(33%);
  }

  .globalSection p {
    font-size: 18px;
  }

  .titleGlobalSections {
    font-size: 24px;
  }

  .globalSection li {
    flex: 1 1 100%;
  }
  .gameFilter li img {
    width: 70%;
    height: 70%;
  }

  .purchaseInfo {
    margin: 0;
  }

  .purchaseInfo ul {
    flex-direction: column;
  }

  .purchaseInfo ul p {
    font-size: 14px;
  }

  .usefulLinks li {
    margin: 0 100px;
  }

  #email {
    padding: 9px 75px;
  }

  .footerGeneralInformation {
    flex-direction: column;
    align-items: center;
  }

  .footer-card {
    border-right: none;
    flex: 1 1 10%;
  }

  .legalInformation ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* ------ móvil*/

@media (max-width: 375px) {
  .header-menu,
  nav input {
    display: none;
  }

  .coreContent {
    padding: 0px 10px;
  }

  .subhero {
    display: grid;
    grid-template-areas:
      'hero-news'
      'hero-recommender';
  }

  .subhero a img {
    height: 100px;
  }

  .cardSection ul li {
    flex: 1 1 calc(33%);
  }
  .gamePrice {
    font-size: 18px;
  }

  .gameTitle {
    font-size: 15px;
  }

  .globalSection p {
    font-size: 18px;
  }

  .titleGlobalSections {
    font-size: 24px;
  }
  .textGlobalSection {
    margin: 0px;
  }
  .globalSection li {
    flex: 1 1 100%;
  }
  .gameFilter li img {
    width: 90%;
    height: 90%;
  }

  .purchaseInfo {
    margin: 0;
  }

  .purchaseInfo ul {
    flex-direction: column;
  }

  .purchaseInfo ul p {
    font-size: 14px;
  }

  .usefulLinks li {
    margin: 0 10px;
  }
  .usefulLinks img {
    height: 300px;
  }

  .accesories {
    margin: 0 10px;
  }

  #email {
    padding: 9px 30px;
    margin: 10px;
  }

  .footerGeneralInformation {
    flex-direction: column;
    align-items: center;
  }

  .footer-card {
    flex: 1 1 10%;
    border-right: none;
  }

  .legalInformation ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
